@import url("//cdn.web-fonts.ge/fonts/bpg-glaho-arial/css/bpg-glaho-arial.min.css");



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: "BPG Glaho Arial", sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --transition: 0s ease-in-out 0s;
}


/* general-styles */

a{
  text-decoration: none;
  color:black;
}

.container{
  max-width: 1500px;
  width: 100%;
  margin: auto ;
}


.loading-gif{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

li{
  list-style: none;
}